<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/Rakesh_Budugu/stash-projects/practice-project-testng/src/test/java/io/learn">
        <classes>
            <class name="io.learn.basic.FirstTest"/>
            <class name="io.learn.basic.SecondTest"/>
            <class name="io.learn.enable.EnableDisableTest"/>
        </classes>
    </test>
</suite>